<label class="styled-input-container">{{@label}}
  <input
    class='styled-input'
    type={{@type}}
    disabled={{@disabled}}
    maxlength={{@maxLength}}
    autocomplete={{@autocomplete}}
    placeholder={{@placeholder}}
  />
</label>